# Node modules
/node_modules/

# Build outputs
/build/
/dist/

# React Scripts cache
.cache/
/.vscode/

# Env files (προστασία κλειδιών)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Firebase emulators & logs
.firebaserc
.firebase/
firebase-debug.log
firestore 

# OS και IDE αρχεία
.DS_Store
Thumbs.db
*.swp

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage reports
/coverage/

# Algolia secrets (αν τα αποθηκεύεις τοπικά)
algolia-credentials.json

# Ταξινόμηση κώδικα
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
